.authentication-frame {
  width: 300px;
  padding: 40px;
  margin: 200px auto;
  text-align: center;
  background: #665a6c;
}

.authentication-frame input {
  display: block;
  margin: 16px auto;
  padding: 8px 0;
  height: 24px;
  width: 90%;
  outline: none;
  border-radius: 24px;
  text-align: center;
  border: none;
}

.authentication-frame button {
  height: 40px;
  width: 90%;
  border-radius: 24px;
  border: none;
}
